site_name: Hispanistica @ Marburg

theme:
  name: material
  language: en
  features:
    - content.footnotes
    - navigation.tracking
    - navigation.top
    - search.suggest
    - search.highlight
  logo: assets/images/hispanistica_logo.png
  favicon: assets/images/hispanistica_favicon.png
  palette:
    scheme: default
    primary: custom
    accent: custom

extra_css:
  - styles/md3-tokens.css
  - styles/override.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css

nav:
  - Home: index.md
  - Projects:
      - CO.RA.PAN: corapan.md
      - MAR.ELE: marele.md
      - Spanish Linguistics @ School: toolkit.md
  - Impressum: impressum.md

plugins:
  - search
  - glightbox

markdown_extensions:
  - attr_list
  - md_in_html
  - footnotes
