:root {
    --md-default-bg-color: #F2F2F2;
    --md-surface-bg-color: #E8E8E8;
    --md-on-surface: #2E2E2E;
  }
  

.md-header__button.md-logo img {
  /* Höhe komplett aufheben und flexibel größer machen */
  height: auto !important;
  max-height: none !important;
  height: 80px !important;
  width: auto !important;
  max-width: none !important;
}

/*  ── Helles Standard-Schema ───────────────────────────── */
[data-md-color-scheme="default"] {
  /* Primärfarbe */
  --md-primary-fg-color:       #446395;
  /* hellere / dunklere Abstufungen, falls gewünscht  */
  --md-primary-fg-color--light:#6ea3f8;
  --md-primary-fg-color--dark: #1c63e0;
  /* Akzentfarbe optional  */
  --md-accent-fg-color:        #6ea3f8;
}

/*  ── Dunkles Slate-Schema ─────────────────────────────── */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:       #446395;
  --md-primary-fg-color--light:#6ea3f8;
  --md-primary-fg-color--dark: #1c63e0;
  --md-accent-fg-color:        #6ea3f8;
}

.masonry {
  column-count: 1;
  column-gap: 1rem;
}
@media (min-width: 640px) {
  .masonry { column-count: 2; }
}
@media (min-width: 1024px) {
  .masonry { column-count: 3; }
}
.masonry img {
  width: auto !important;
  max-width: 50%;
  max-height: 400px;
  height: auto;
  display: block;
  break-inside: avoid;
  margin-bottom: 3rem;
}

