---
/**
 * Footer Component
 * 
 * Site footer with Impressum link and copyright notice.
 */
---

<footer class="footer">
  <div class="footer__content">
    <a href="/impressum/" class="footer__link">Impressum</a>
    <p class="footer__copyright">
      © 2025 Philipps-Universität Marburg · Felix Tacke
    </p>
  </div>
</footer>
